rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Only allow users with the admin bit to add other users.
    // Only allow users with the admin bit to change the 'active' bit.
    // Only allow verified emails with the 'invited' bit set, to change to 'active' (and remove the invited 'bit' in the same operation).
    // Only allow users with verified emails to change displayName and photoURL.
    // Only allow users with the admin bit to delete objects rest of org.
    // Only allow active users to read, write (but not delete objects) rest of org.
  }
}
