service firebase.storage {
  match /b/{bucket}/o {
    function signedInAndVerified() {
      return request.auth.uid != null &&
             request.auth.token.email_verified == true;
    }

    match /{orgID}/transcriptions/{transcriptionID}/input/{media} {
      allow read, write: if signedInAndVerified()
                         && request.auth.token.orgIDs[orgID];
    }

    match /{orgID}/transcriptions/{transcriptionID}/output/{media} {
      allow read: if signedInAndVerified()
                  && request.auth.token.orgIDs[orgID];
    }

      match /{orgID}/avatars/{personID}/{media} {
      allow read, write: if signedInAndVerified()
                         && request.auth.token.orgIDs[orgID];
    }
  }
}
